@page
@model RealEstate.Pages.VaccinesModel
@{
    ViewData["Title"] = "Vaccines";
    RealEstate.VaccinesData.Vaccines TheVacinesDetails= (RealEstate.VaccinesData.Vaccines)ViewData["CovidVaccines"];
}
<link rel="stylesheet" href="/css/CovidSheet.css" type="text/css" />
<div class="container">
    <br />
    <h4> <mark> We care about our cutomers. </mark> </h4> </hr>
    <h6 style="color:beige"> Latest StateWise Covid Vaccines  </h6>
    <div>
        <form method="get" class="row mb-3 ml-1">
            <div class="input-group row">
                <div class="col-sm-2 font-weight-bold" style="color:beige">Select a State</div>
                <select class="form-control" name="query" asp-for="@Model.UserState" asp-items="ViewBag.UserState"></select>
                <div class="input-group-append">
                    <input type="submit" value="Get Details" class="btn btn-primary" />
                </div>
            </div>
        </form>

        @if (string.IsNullOrWhiteSpace(Model.UserState))
        {

        }
        else if (TheVacinesDetails == null)
        {
            <div class="alert alert-info">  COVID19 Data for @Model.AllStatesDropdownDictionary[@Model.UserState] not found. </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body shadow border-top" style="background-color: lightgrey">
                        <div>
                            <div class="card-subtitle">
                                CUMULATIVE DOSAGE TILL DATE
                            </div>
                            <dl class="row">
                                <dt class="col-sm-6">
                                    Date
                                </dt>
                                <dd class="col-sm-6">
                                    @TheVacinesDetails.Date.Date.ToString("MMMM dd, yyyy")
                                </dd>
                                <dt class="col-sm-6">
                                    State
                                </dt>
                                <dd class="col-sm-6">
                                    @Model.AllStatesDropdownDictionary[TheVacinesDetails.Location.ToUpper()]
                                </dd>
                                <dt class="col-sm-6">
                                    Total Doses Administered
                                </dt>
                                <dd class="col-sm-6">
                                    @TheVacinesDetails.AdministeredCumulative
                                </dd>
                                <dt class="col-sm-6">
                                    Totat Dose 1 Administered
                                </dt>
                                <dd class="col-sm-6">
                                    @TheVacinesDetails.AdministeredDaily
                                </dd>
                                <dt class="col-sm-6">
                                    Total Series Complete
                                </dt>
                                <dd class="col-sm-6">
                                    @TheVacinesDetails.SeriesCompleteCumulative
                                </dd>
                                <dt class="col-sm-6">
                                    Total Booster Doses Administered
                                </dt>
                                <dd class="col-sm-6">
                                    @TheVacinesDetails.BoosterCumulative
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
           </div>
        }
    </div>
</div>